# Node
node_modules/
build/
dist/
npm-debug.log
yarn.lock

# Python
__pycache__/
*.pyc
venv/
.env

# OS / Editor
.DS_Store
.vscode/
.idea/

Backend/database.db
Demo_RACC/node_modules/
Demo_RACC/build/