version: '3.8'

services:
  frontend:
    build:
      context: ./Demo_RACC
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: "http://pa1-api.upc.edu:8000"
    image: eetac/pae-2025-racc-frontend:latest
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - appnet

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    image: eetac/pae-2025-racc-backend:latest
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    driver: bridge