version: '3.8'

services:
  frontend:
    image: eetac/pae-2025-racc-frontend:0.3
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - appnet

  backend:
    image: eetac/pae-2025-racc-backend:0.3
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:
    driver: bridge